<table class="table table table-bordered table-sm align-middle vertical-middle">
  <thead class="table-active">
  <tr>
    <th>Период</th>
    <th>Название</th>
<!--    <th>Комментарий</th>-->
    <th>
      <div class="actions">
        <button type="button" class="btn btn-link" (click)="new()">
          <i class="ki ki-plus"></i>
        </button>

        <button routerLink="/periods" type="button" class="btn btn-link">
          <i class="ki ki-bold-double-arrow-next"></i>
        </button>
      </div>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of items">
    <td>
      <a (click)="$event.preventDefault();" href="/periods/info/{{item.id}}">{{item.range}}</a>
    </td>
    <td>{{item.name}}</td>
<!--    <td>{{item.comment}}</td>-->
    <td>

      <div class="actions">
        <button type="button" class="btn btn-link" (click)="edit(item.id)">
          <i class="flaticon2-edit"></i>
        </button>

        <button type="button" class="btn btn-link" (click)="askDelete(item.id)">
          <i class="flaticon2-trash"></i>
        </button>
      </div>

    </td>
  </tr>
  </tbody>
</table>

<!--Модальная форма редактирования периода-->
<ng-template #periodDialogTemplate let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Период</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form class="form" [formGroup]="periodForm" novalidate (keydown.enter)="$event.preventDefault()">

      <!--      Наименование-->
      <div class="form-group">
        <label for="name">Наименование</label>
        <input type="text" id="name" class="form-control" placeholder="Наименование периода" formControlName="name">
      </div>

      <!--      Дата начала-->
      <div class="form-group">
        <label for="startDate">Дата начала</label>
        <div class="input-group">
          <input type="datetime-local" id="startDate" class="form-control" placeholder="ГГГГ-ММ-ДД" step="1"
                 formControlName="startDate" >
        </div>
      </div>
<!--      <div class="form-group">-->
<!--        <label for="startDate">Дата начала</label>-->
<!--        <div class="input-group">-->
<!--          <input id="startDate" class="form-control" placeholder="ГГГГ-ММ-ДД"-->
<!--                 formControlName="startDate" ngbDatepicker #d1="ngbDatepicker">-->
<!--          <div class="input-group-append">-->
<!--            <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button">📅</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->


      <!--      Дата окончания-->
      <div class="form-group">
        <label for="endDate">Дата начала</label>
        <div class="input-group">
          <input type="datetime-local" id="endDate" class="form-control" step="1"
                 formControlName="endDate" >
        </div>
      </div>

<!--      <div class="form-group">-->
<!--        <label for="endDate">Дата окончания</label>-->
<!--        <div class="input-group">-->
<!--          <input id="endDate" class="form-control" placeholder="ГГГГ-ММ-ДД"-->
<!--                 formControlName="endDate" ngbDatepicker #d="ngbDatepicker">-->
<!--          <div class="input-group-append">-->
<!--            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">📅</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

      <!--      Комментарий-->
      <div class="form-group">
        <label for="comment">Комментарий</label>
        <input type="text" id="comment" class="form-control" placeholder="Комментарий" formControlName="comment">
      </div>
    </form>

    <!--    <pre> {{periodForm.value | json}}</pre>-->

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-link-dark" (click)="modal.close(false)">Отмена</button>
    <button type="button" class="btn btn-outline-dark" [disabled]="periodForm.invalid" (click)="submit()">Сохранить
    </button>
  </div>

</ng-template>

<!--Модальная форма удаления-->
<ng-template #periodDeleteModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Удалить</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Вы уверены что хотите удалить период?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-link-dark" (click)="modal.close(false)">Отмена</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close(true)">Да</button>
  </div>
</ng-template>
