<div>
  <div class="modal-header">
    <h4 class="modal-title">Удалить</h4>
    <button type="button" class="close" aria-label="Close" (click)="close(false)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Вы уверены что хотите удалить {{name}}?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-link-dark" (click)="close(false)">Отмена</button>
    <button type="button" class="btn btn-outline-dark" (click)="close(true)">Да</button>
  </div>
</div>
