<table class="table table-bordered table-sm align-middle vertical-middle">
  <thead class="table-active">
  <tr>
    <th class="col-3">Счет</th>
    <th class="col-1">Баланс</th>
    <th class="col-6">Последнее</th>
    <th class="col-2">
      <div class="actions">
        <button type="button" class="btn btn-link" (click)="showModal()">
          <i class="ki ki-plus"></i>
        </button>

        <button routerLink="/accounts" type="button" class="btn btn-link">
          <i class="ki ki-bold-double-arrow-next"></i>
        </button>
      </div>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of items">
    <td>
      <a (click)="$event.preventDefault()" href="/accounts/info/{{item.id}}">{{item.name}} {{item.isSavings ? '💰' : ''}}</a>
    </td>
    <td class="end-text">{{item.amount | formatNumber}}</td>
    <td>{{item.lastAction}}</td>
    <td>
      <div class="actions">
        <ng-container
          *ngTemplateOutlet="addNewMovement; context: {$implicit: {variant: 'from-accounts', accountId: item.id, type: movementType.INCOME}}">
        </ng-container>

        <ng-container
          *ngTemplateOutlet="addNewMovement; context: {$implicit: {variant: 'from-accounts', accountId: item.id, type: movementType.OUTCOME}}">
        </ng-container>

        <button type="button" class="btn btn-link" (click)="edit(item.id)">
          <i class="flaticon2-edit"></i>
        </button>

        <button type="button" class="btn btn-link" (click)="askDelete(item.id)">
          <i class="flaticon2-trash"></i>
        </button>

      </div>
    </td>
  </tr>
  </tbody>
</table>

<ng-template #addNewMovement let-item>
  <app-new-from-main [variant]="item.variant" [type]="item.type" [accountId]="item.accountId"
                     (update)="getTable()"></app-new-from-main>
</ng-template>

<!--Модальная форма редактирования счета-->
<ng-template #accountDialogTemplate let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Cчет</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form class="form" [formGroup]="accountForm" novalidate (keydown.enter)="$event.preventDefault()">

      <!--      Наименование-->
      <div class="form-group">
        <label for="name">Наименование</label>
        <input type="text" id="name" class="form-control" placeholder="Наименование счета" formControlName="name">
      </div>

      <!--      Валюта-->
      <div class="form-group">
        <label for="currency">Валюта</label>
        <!--        <ng-select [items]="currencyTypes | keyvalue" [bindValue]="items.value" [bindLabel]="value"   id="currency"-->
        <!--                   formControlName="currency" placeholder="Выберите валюту"></ng-select>-->

        <select id="currency" formControlName="currency" class="form-control">
          <option *ngFor="let type of currencyTypes | keyvalue " [ngValue]="type.value">{{type.value}}</option>
        </select>
      </div>

      <div class="form-check-inline">
        <input class="form-check-input" id="savings" type="checkbox" formControlName="savings">
        <label class="form-check-label" for="savings">Накопительный</label>
      </div>

    </form>

    <!--        <pre> {{accountForm.value | json}}</pre>-->

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-link-dark" (click)="modal.close(false)">Отмена</button>
    <button type="button" class="btn btn-outline-dark" [disabled]="accountForm.invalid" (click)="submit()">Сохранить
    </button>
  </div>

</ng-template>

<!--Модальная форма удаления-->
<ng-template #accountDeleteModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Удалить</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Вы уверены что хотите удалить счет?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-link-dark" (click)="modal.close(false)">Отмена</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close(true)">Да</button>
  </div>
</ng-template>
