<div class="row">

  <!--  расходы-->
  <div class="col-6">
    <h3>Расходы</h3>
    <table class="table table-bordered table-sm align-middle">
      <thead class="table-active">
      <tr>
        <th>Название</th>
        <th>Сторно</th>
        <th>Последнее</th>
        <th class="col-1">
          <div class="actions">
            <button type="button" class="btn btn-link" (click)="new(movementType.OUTCOME)">
              <i class="ki ki-plus"></i>
            </button>
          </div>
        </th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let item of itemsOutcomes" [ngClass]="{'parent-elem': item.parentId == null}">
        <td [ngStyle]="{'paddingLeft': (item.depth * 10) + 'px'}">
          <a (click)="$event.preventDefault();"
             href="/categories/info/{{item.id}}?type=OUTCOME">
            {{item.name}}
          </a>
        </td>
        <td class="center-text">{{item.storno ? '✅' : ''}}</td>
        <td>{{item.lastAction}}</td>
        <td>

          <div class="actions">

            <button type="button" class="btn btn-link" (click)="edit(movementType.OUTCOME, item.id)">
              <i class="flaticon2-edit"></i>
            </button>

            <button type="button" class="btn btn-link" (click)="askDelete(item.id, movementType.OUTCOME)">
              <i class="flaticon2-trash"></i>
            </button>

          </div>
        </td>
      </tr>
      </tbody>

    </table>
  </div>

  <!--  доходы-->
  <div class="col-6">
    <h3>Доходы</h3>
    <table class="table table-bordered table-sm align-middle">
      <thead class="table-active">
      <tr>
        <th>Название</th>
        <th>Сторно</th>
        <th>Последнее</th>
        <th class="col-1">
          <div class="actions">
            <button type="button" class="btn btn-link" (click)="new(movementType.INCOME)">
              <i class="ki ki-plus"></i>
            </button>
          </div>
        </th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let item of itemsIncomes" [ngClass]="{'parent-elem': item.parentId == null}">
        <td [ngStyle]="{'paddingLeft': (item.depth * 10) + 'px'}">
          <a (click)="$event.preventDefault();"
             href="/categories/info/{{item.id}}?type=INCOME">
            {{item.name}}
          </a>
        </td>
        <td class="center-text">{{item.storno ? '✅' : ''}}</td>
        <td>{{item.lastAction}}</td>
        <td>

          <div class="actions">

            <button type="button" class="btn btn-link" (click)="edit(movementType.INCOME, item.id)">
              <i class="flaticon2-edit"></i>
            </button>

            <button type="button" class="btn btn-link" (click)="askDelete(item.id, movementType.INCOME)">
              <i class="flaticon2-trash"></i>
            </button>

          </div>
        </td>
      </tr>
      </tbody>

    </table>
  </div>

  <!--модальная форма-->
  <ng-template #categoryDialogTemplate let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Категория</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <form class="form" [formGroup]="categoryForm" novalidate (keydown.enter)="$event.preventDefault()">

        <!--      Наименование-->
        <div class="form-group">
          <label for="name">Наименование</label>
          <input type="text" id="name" class="form-control" placeholder="Наименование категории" formControlName="name">
        </div>

        <!--      Родитель-->
        <div class="form-group">
          <label for="parentId">Родитель</label>
          <select id="parentId" formControlName="parentId" class="form-control">
            <option [ngValue]="null">Без родителя</option>
            <option *ngFor="let parent of parents | async" [ngValue]="parent.id">{{parent.formattedName}}</option>
          </select>


          <!--        <ng-select id="parentId" formControlName="parentId" [items]="parents" bindLabel="name" bindValue="id" [groupBy]="groupBy" >-->
          <!--&lt;!&ndash;          <ng-option *ngFor="let parent of parents" [value]="parent.id">{{parent.name}}</ng-option>&ndash;&gt;-->
          <!--        </ng-select>-->


        </div>

        <!--      Тип категории-->
        <div class="form-group">
          <label for="type">Тип</label>
          <select id="type" formControlName="type" class="form-control">
            <option [ngValue]="'OUTCOME'" disabled>Расход</option>
            <option [ngValue]="'INCOME'" disabled>Приход</option>
          </select>
        </div>

        <!--      Сторно-->
        <div class="form-check-inline">
          <input class="form-check-input" id="storno" type="checkbox" formControlName="storno">
          <label class="form-check-label" for="storno">Сторно</label>
        </div>

      </form>

      <!--            <pre> {{categoryForm.value | json}}</pre>-->
      <!--            <pre>{{parents | async | json}}</pre>-->

    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-link-dark" (click)="modal.close(false)">Отмена</button>
      <button type="button" class="btn btn-outline-dark" [disabled]="categoryForm.invalid" (click)="submit()">Сохранить
      </button>
    </div>

  </ng-template>
