<div class="row">

  <div class="col-2">
    <app-short-info></app-short-info>
  </div>

  <div class="col-6">
    <app-accounts-table></app-accounts-table>
  </div>

  <div class="col-4">
    <app-periods-table></app-periods-table>
  </div>
</div>
