<!--Фильтры-->
<div class="row">
  <form class="col-5 filter-row" [formGroup]="filterForm" novalidate (keydown.enter)="$event.preventDefault()">

    <!--      Тип диапазона-->
    <div class="col-4">
      <div class="form-group">
        <label for="rangeType">Тип диапазона</label>
        <select id="rangeType" formControlName="rangeType" class="form-control" #t
                (change)="onRangeTypeChange(t.value)">
          <option [value]=rangeType.DAY>День</option>
          <option [value]=rangeType.MONTH>Месяц</option>
          <option [value]=rangeType.PERIOD>Период</option>
          <option [value]=rangeType.DIAPASON>Диапазон</option>
          <option [value]=rangeType.ALL>Все время</option>
        </select>
      </div>
    </div>

    <!-- Дата начала-->
    <div class="col-5" [class.hidden]="selectedType !== rangeType.DAY && selectedType !== rangeType.DIAPASON">
      <div class="form-group">
        <label for="startDate">Дата начала</label>
        <div class="input-group">
          <input id="startDate" class="form-control" placeholder="ГГГГ-ММ-ДД"
                 formControlName="startDate" ngbDatepicker #d1="ngbDatepicker" (dateSelect)="getTable()">
          <div class="input-group-append">
            <button class="btn btn btn-calendar" (click)="d1.toggle()" type="button"><i class="flaticon2-calendar"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Дата окончания-->
    <div class="col-5" [class.hidden]="selectedType !== rangeType.DIAPASON">
      <div class="form-group">
        <label for="endDate">Дата окончания</label>
        <div class="input-group">
          <input id="endDate" class="form-control" placeholder="ГГГГ-ММ-ДД"
                 formControlName="endDate" ngbDatepicker #d="ngbDatepicker" (dateSelect)="getTable()">
          <div class="input-group-append">
            <button class="btn btn-calendar" (click)="d.toggle()" type="button"><i class="flaticon2-calendar"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Месяц-->
    <div class="col-5" [class.hidden]="selectedType !== rangeType.MONTH">
      <div class="form-group">
        <label>Месяц</label>
        <div class="input-group">
          <ngb-datepicker #monthPicker (navigate)="onMonthPickerChange($event)"
                          class="datepicker-only-month-select"></ngb-datepicker>
        </div>
      </div>
    </div>

    <!-- Период-->
    <div class="col-4" [class.hidden]="selectedType !== rangeType.PERIOD">
      <div class="form-group">
        <label for="periodId">Период</label>
        <select id="periodId" formControlName="periodId" class="form-control" (change)="getTable()">
          <option *ngFor="let period of filterPeriods" [ngValue]="period.id">{{period.name}}</option>
        </select>
      </div>
    </div>

    <!--    Исходный счет-->
    <div class="col-5">
      <div class="form-group">
        <label for="source-account"> Исходный счет</label>
        <select id="source-account" formControlName="sourceAccountId" class="form-control">
          <option [ngValue]="null"></option>
          <option *ngFor="let account of filterAccounts" [ngValue]="account.id">{{account.name}}</option>
        </select>
      </div>
    </div>

    <!--      Конечный счет-->
    <div class="col-5">
      <div class="form-group">
        <label for="target-account"> Конечный счет</label>
        <select id="target-account" formControlName="sourceAccountId" class="form-control">
          <option [ngValue]="null"></option>
          <option *ngFor="let account of filterAccounts" [ngValue]="account.id">{{account.name}}</option>
        </select>
      </div>
    </div>


    <button type="button" class="btn btn-outline-primary apply-btn" (click)="getTable()">Применить</button>

  </form>
</div>

<div class="row">
  <div class="col-12">
    <table class="table table-bordered table-sm vertical-middle">
      <thead class="table-active">
      <tr>
        <th class="col-1">Дата</th>
        <th class="col-3">Откуда</th>
        <th class="col-3">Куда</th>
        <th class="col-1">Сумма</th>
        <th class="col-4">Коммент</th>
        <th class="col-1">Комисcия</th>
        <th class="col-1">
          <div class="actions">
            <button type="button" class="btn btn-link" (click)="new()">
              <i class="ki ki-plus"></i>
            </button>
          </div>
        </th>
      </tr>
      </thead>

      <tbody>
      <tr class="child-elem" *ngFor="let item of transfers">
        <td>{{item.date}}</td>
        <td>{{item.sourceAccount}} ({{item.sourceAccountBalanceBefore}} -> {{item.sourceAccountBalanceAfter}})</td>
        <td>{{item.targetAccount}} ({{item.targetAccountBalanceBefore}} -> {{item.targetAccountBalanceAfter}})</td>
        <td class="center-text">{{item.amount | formatNumber}}</td>
        <td>{{item.comment}}</td>
        <td>{{item.fee}}</td>
        <td>
          <div class="actions">
            <button type="button" class="btn btn-link" (click)="edit(item.id)">
              <i class="flaticon2-edit"></i>
            </button>
            <button type="button" class="btn btn-link"
                    (click)="askDelete(item.id, item.sourceAccount, item.targetAccount, item.amount, item.comment)">
              <i class="flaticon2-trash"></i>
            </button>
          </div>
        </td>
      </tr>
      </tbody>

    </table>
  </div>
</div>

<!--Модальная форма-->
<ng-template #transferDialogTemplate let-modal>

  <div class="modal-header">
    <h4 class="modal-title">Перевод</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form class="form" [formGroup]="transferForm" novalidate (keydown.enter)="$event.preventDefault()">

      <div class="row">
        <!--      Откуда-->
        <div class="form-group col-6">
          <label for="source-id">Откуда</label>
          <select id="source-id" formControlName="sourceAccountId" class="form-control">
            <option *ngFor="let account of filterAccounts" [ngValue]="account.id">{{account.name}} | {{account.amount}}</option>
          </select>
        </div>

        <!--      Куда-->
        <div class="form-group col-6">
          <label for="target-id">Куда</label>
          <select id="target-id" formControlName="targetAccountId" class="form-control">
            <option *ngFor="let account of filterAccounts" [ngValue]="account.id">{{account.name}} | {{account.amount}}</option>
          </select>
        </div>

      </div>

      <div class="row">
        <!--      Сумма-->
        <div class="form-group col-6">
          <label for="amount">Сумма</label>
          <input type="number" id="amount" class="form-control" formControlName="amount">
        </div>

        <!--      Комиссия-->
        <div class="form-group col-6">
          <label for="fee">Комиссия</label>
          <input type="number" id="fee" class="form-control" formControlName="fee">
        </div>

      </div>

      <div class="row">
        <!--      Дата -->
        <div class="form-group col-6">
          <label for="date">Дата</label>
          <div class="input-group">
            <input id="date" class="form-control" placeholder="ГГГГ-ММ-ДД"
                   formControlName="date" ngbDatepicker #d1="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn btn-calendar" (click)="d1.toggle()" type="button"><i
                class="flaticon2-calendar"></i></button>
            </div>
          </div>
        </div>

        <!--      Время-->
        <div class="form-group col-6">
          <label for="time">Время</label>
          <div class="input-group">
            <input type="time" id="time" class="form-control" formControlName="time">
          </div>
        </div>
      </div>

      <div class="row">
        <!--      Комментарий-->
        <div class="form-group col-6">
          <label for="comment">Комментарий</label>
          <input type="text" id="comment" class="form-control" formControlName="comment">
        </div>

      </div>

    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-link-dark" (click)="modal.close(false)">Отмена</button>
    <button type="button" class="btn btn-outline-dark" [disabled]="transferForm.invalid" (click)="submit()">Сохранить
    </button>
  </div>

</ng-template>
