<!--Фильтры-->
<div class="row">
  <form class="col-5 filter-row" [formGroup]="filterForm" novalidate (keydown.enter)="$event.preventDefault()">

    <!--      Тип диапазона-->
    <div class="col-4">
      <div class="form-group">
        <label for="rangeType">Тип диапазона</label>
        <select id="rangeType" formControlName="rangeType" class="form-control" #t
                (change)="onRangeTypeChange(t.value)">
          <option [value]=rangeType.DAY>День</option>
          <option [value]=rangeType.MONTH>Месяц</option>
          <option [value]=rangeType.PERIOD>Период</option>
          <option [value]=rangeType.DIAPASON>Диапазон</option>
          <option [value]=rangeType.ALL>Все время</option>
        </select>
      </div>
    </div>

    <!-- Дата начала-->
    <div class="col-5" [class.hidden]="selectedType !== rangeType.DAY && selectedType !== rangeType.DIAPASON">
      <div class="form-group">
        <label for="startDate">Дата начала</label>
        <div class="input-group">
          <input id="startDate" class="form-control" placeholder="ГГГГ-ММ-ДД"
                 formControlName="startDate" ngbDatepicker #d1="ngbDatepicker" (dateSelect)="showTable()">
          <div class="input-group-append">
            <button class="btn btn btn-calendar" (click)="d1.toggle()" type="button"><i class="flaticon2-calendar"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Дата окончания-->
    <div class="col-5" [class.hidden]="selectedType !== rangeType.DIAPASON">
      <div class="form-group">
        <label for="endDate">Дата окончания</label>
        <div class="input-group">
          <input id="endDate" class="form-control" placeholder="ГГГГ-ММ-ДД"
                 formControlName="endDate" ngbDatepicker #d="ngbDatepicker" (dateSelect)="showTable()">
          <div class="input-group-append">
            <button class="btn btn-calendar" (click)="d.toggle()" type="button"><i class="flaticon2-calendar"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Месяц-->
    <div class="col-5" [class.hidden]="selectedType !== rangeType.MONTH">
      <div class="form-group">
        <label>Месяц</label>
        <div class="input-group">
          <ngb-datepicker #monthPicker (navigate)="onMonthPickerChange($event)"
                          class="datepicker-only-month-select"></ngb-datepicker>
        </div>
      </div>
    </div>

    <!-- Период-->
    <div class="col-4" [class.hidden]="selectedType !== rangeType.PERIOD">
      <div class="form-group">
        <label for="periodId">Период</label>
        <select id="periodId" formControlName="periodId" class="form-control" (change)="showTable()">
          <option *ngFor="let period of filterPeriods" [ngValue]="period.id">{{period.name}}</option>
        </select>
      </div>
    </div>

    <!-- Счет-->
    <div class="col-5">
      <div class="form-group">
        <label for="accountId">Счет</label>
        <select id="accountId" formControlName="accountId" class="form-control" (change)="showTable()">
          <option [ngValue]=null></option>
          <option *ngFor="let account of filterAccounts" [ngValue]="account.id">{{account.name}}</option>
        </select>
      </div>
    </div>


  </form>
</div>

<ul ngbNav #nav="ngbNav" class="nav-tabs" [(activeId)]="active" (navChange)="onNavChange($event)">
  <li [ngbNavItem]="1">
    <a ngbNavLink>Расходы</a>
    <ng-template ngbNavContent>
      <ng-container *ngTemplateOutlet="table"></ng-container>
    </ng-template>
  </li>

  <li [ngbNavItem]="2">
    <a ngbNavLink>Доходы</a>
    <ng-template ngbNavContent>
      <ng-container *ngTemplateOutlet="table"></ng-container>
    </ng-template>
  </li>

  <li [ngbNavItem]="3">
    <a ngbNavLink>Журнал</a>
    <ng-template ngbNavContent>
      <ng-container *ngTemplateOutlet="history"></ng-container>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>

<!--Таблицы движений-->
<ng-template #table>

  <div class="row">

    <!--  Движения по категориям-->
    <div class="col-4">
      <table class="table table-bordered table-sm align-middle">
        <thead class="table-active">
        <tr>
          <th class="col-9">Категория</th>
          <th class="col-2 center-text">Сумма</th>
          <th class="col-2 center-text">Доч.</th>
        </tr>
        </thead>
        <tbody>

        <tr class="parent-elem">
          <td></td>
          <td class="center-text bold">{{categoriesTotal(categories)| formatNumber}}</td>
          <td></td>
        </tr>

        <tr *ngFor="let item of categories"
            [class.parent-elem]="item.parentCategoryId == null"
            [class.child-elem]="item.parentCategoryId != null"
            [class.category-hovered]="hoveredCategoryId === item.categoryId"
            [class.category-selected]="selectedCategoryId === item.categoryId"
            (mouseover)="hoveredCategoryId=item.categoryId"
            (mouseout)="hoveredCategoryId=''"
            (click)="onCategorySelect($event, item.categoryId, item.name)"
        >
          <td [ngStyle]="{'paddingLeft': ((item.depth-1) * 10) + 'px'}">
            <a (click)="$event.preventDefault();"
               href="/income-list/category/{{item.categoryId}}?type={{movementType}}">
              {{item.name}}
            </a>
          </td>
          <td class="center-text"
              [class.bold]="item.parentCategoryId == null">
            {{item.own + item.child | formatNumber }}</td>
          <td class="center-text font-100">{{item.child}}</td>
        </tr>
        </tbody>

      </table>
    </div>

    <!--  Движения внутри категории-->
    <div class="col-8">
      <table class="table table-bordered table-sm align-middle">
        <thead class="table-active">
        <tr>
          <th>Коммент</th>
          <th>Сумма</th>
          <th>Баланс</th>
          <th>Счет</th>
          <th>Время</th>
          <th>
            <div class="actions">

              <app-new-from-main [variant]="'from-accounts'" [type]="movementType!!"
                                 (update)="showTable()"></app-new-from-main>
            </div>
          </th>
        </tr>
        </thead>

        <tbody>

        <ng-container *ngFor="let entry of movementsMap | keyvalue">
          <tr>
            <td class="parent-elem bold">{{entry.key}}</td> <!--дата-->
            <td class="parent-elem bold">{{movementsTotal(entry.value) | formatNumber}}</td> <!--Итог за дату-->
            <td colspan="4" class="parent-elem"></td>
          </tr>

          <!-- Движения за дату-->
          <tr *ngFor="let item of entry.value" class="child-elem">
            <td>
              <a (click)="$event.preventDefault();"
                 href="/income-list/category/{{item.categoryId}}/movement/{{item.id}}?type={{movementType}}">
                {{item.comment}}
              </a>
            </td>
            <td> {{item.amount | formatNumber}}</td>
            <td> {{item.balance | formatNumber}}</td>
            <td> {{item.accountName}}</td>
            <td> {{item.time }}</td>

            <td>
              <div class="actions" *ngIf="!isTransfer(item)">
                <app-new-from-main [variant]="'edit'"
                                   [type]="item.type"
                                   [movementId]="item.id"
                                   (update)="refreshTables()">
                </app-new-from-main>

                <button type="button" class="btn btn-link" (click)="askDelete(item.id, item.comment, item.amount)">
                  <i class="flaticon2-trash"></i>
                </button>
              </div>
            </td>

          </tr>
        </ng-container>

        </tbody>
      </table>
    </div>
  </div>
</ng-template>

<!--Журнал-->
<ng-template #history>
  <div class="row">
    <div class="col-8">
      <table class="table table-bordered table-sm vertical-middle">
        <thead class="table-active">
        <tr>
          <th>Категория</th>
          <th>Коммент</th>
          <th>Сумма</th>
          <th>Баланс</th>
          <th class="col-2">Счет</th>
          <th>Время</th>
          <th>
            <div class="actions">

              <app-new-from-main [variant]="'from-accounts'" [type]="movementTypeEnum.INCOME"
                                 (update)="showTable()"></app-new-from-main>
              <app-new-from-main [variant]="'from-accounts'" [type]="movementTypeEnum.OUTCOME"
                                 (update)="showTable()"></app-new-from-main>

            </div>
          </th>
        </tr>
        </thead>

        <tbody>

        <!--Журнал-->
        <ng-container *ngFor="let entry of historyMap | keyvalue : returnZero">
          <tr>
            <td colspan="7" class="parent-elem">{{entry.key}}</td>
          </tr>

          <tr *ngFor="let item of entry.value"
              class="child-elem" [class.transfer-elem]="isTransfer(item)">
            <td>{{item.categoryName}}</td>
            <td>{{item.comment}}</td>
            <td [class.class-positive]="item.type===movementTypeEnum.INCOME"
                [class.class-negative]="item.type===movementTypeEnum.OUTCOME"
            > {{item.amount | formatNumber}}</td>
            <td> {{item.balance | formatNumber}}</td>
            <td> {{item.accountName}}</td>
            <td> {{item.time }}</td>

            <td>
              <div class="actions" *ngIf="!isTransfer(item)">

                <app-new-from-main [variant]="'edit'"
                                   [type]=item.type
                                   [movementId]="item.id"
                                   (update)="refreshTables()">
                </app-new-from-main>

                <button type="button" class="btn btn-link" (click)="askDelete(item.id, item.comment, item.amount)">
                  <i class="flaticon2-trash"></i>
                </button>
              </div>
            </td>

          </tr>
        </ng-container>

        </tbody>
      </table>
    </div>
  </div>
</ng-template>
