
.bold{
  font-weight: 800;
}

font-100{
  font-weight: 100;
}


/*Информация над таблицой, втч кнопки*/
.legend-actions{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 26px;
}

.filter-row{
  display: flex;
  justify-content: flex-start;
  padding-left: 0;
  padding-right: 0;
}

.category-selected{
  background-color: #e9af659e;
  box-shadow: 0px 0px 5px 2px rgba(174, 175, 161, 0.42);

}
.category-hovered{
  box-shadow: 0px 0px 5px 2px rgba(174, 175, 161, 0.42);
}

.class-negative{
  color: red;
}

.class-positive{
  color: green;
}

