<button *ngIf="variant==='from-movements'"
        type="button" class="btn btn-link" (click)="new()">
  <i class="ki ki-1-5 ki-solid-plus"></i>
</button>

<div *ngIf="variant==='from-accounts'">
  <button type="button" class="btn btn-link" (click)="new()">
    <ng-container *ngIf="type === movementType.OUTCOME else income">
      <i class="ki ki-solid-minus"></i>
    </ng-container>
  </button>
</div>

<button *ngIf="variant==='edit'" type="button" class="btn btn-link" (click)="edit()">
  <i class="flaticon2-edit"></i>
</button>

<ng-template #income>
  <i class="ki ki-solid-plus"></i>
</ng-template>

<ng-template #movementDialogTemplate let-modal>

  <div class="modal-body">
    <form class="form" [formGroup]="form" novalidate (keydown.enter)="$event.preventDefault()">

      <div class="row">

        <!--      Тип категории-->
        <div class="form-group col-6">
          <label for="type">Тип</label>
          <select id="type" formControlName="type" class="form-control disabled">
            <option [ngValue]="'OUTCOME'" disabled>Расход</option>
            <option [ngValue]="'INCOME'" disabled>Приход</option>
          </select>
        </div>

        <!--      Категория-->
        <div class="form-group col-6">
          <label for="categoryId">Категория</label>
          <select id="categoryId" formControlName="categoryId" class="form-control">
            <option [ngValue]="null"></option>
            <option *ngFor="let category of categories | async"
                    [ngValue]="category.id">{{category.formattedName}}</option>
          </select>
        </div>

      </div>

      <div class="row">

        <!--      Счет-->
        <div class="form-group col-6">
          <label for="accountId">Счет</label>
          <select id="accountId" formControlName="accountId" class="form-control">
            <option [ngValue]="null"></option>
            <option *ngFor="let account of accounts | async" [ngValue]="account.id">{{account.name}}</option>
          </select>
        </div>


        <!--      Сумма-->
        <div class="form-group col-6">
          <label for="amount">Сумма</label>
          <input type="number" id="amount" class="form-control" formControlName="amount">
        </div>


        <!--        &lt;!&ndash;      Период&ndash;&gt;-->
        <!--        <div class="form-group col-6">-->
        <!--          <label for="periodId">Период</label>-->
        <!--          <select id="periodId" formControlName="periodId" class="form-control">-->
        <!--            <option [ngValue]="null"></option>-->
        <!--            <option *ngFor="let period of periods | async" [ngValue]="period.id">{{period.name}}</option>-->
        <!--          </select>-->
        <!--        </div>-->

      </div>

      <div class="row">

        <!--      Дата -->
        <div class="form-group col-6">
          <label for="date">Дата</label>
          <div class="input-group">
            <input id="date" class="form-control" placeholder="ГГГГ-ММ-ДД"
                   formControlName="date" ngbDatepicker #d1="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn btn-calendar" (click)="d1.toggle()" type="button"><i
                class="flaticon2-calendar"></i></button>
            </div>
          </div>
        </div>

        <div class="form-group col-6">
          <label for="time">Время</label>
          <div class="input-group">
            <input type="time" id="time" class="form-control" formControlName="time">
          </div>
        </div>
      </div>

      <div class="row">

        <!--      Комментарий-->
        <div class="form-group col-6">
          <label for="comment">Комментарий</label>
          <input type="text" id="comment" class="form-control" formControlName="comment">
        </div>

        <!--      Место-->
        <div class="form-group col-6">
          <label for="store">Место</label>
          <input type="text" id="store" class="form-control" formControlName="store">
        </div>

      </div>

      <div class="row">
        <div class="form-group col-12">
          <app-image-uploader  (selectedImageIds)="onFileSelect($event)" [imageIds]="movementImageIds"></app-image-uploader>
        </div>

      </div>

    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-link-dark" (click)="modal.close(false)">Отмена</button>
    <button type="button" class="btn btn-outline-dark" [disabled]="form.invalid" (click)="submit()">Сохранить</button>
  </div>

</ng-template>
