<!--<table class="table table table-bordered table-sm align-middle">-->

<!--  <thead class="table-active">-->
<!--  <tr>-->
<!--    <th>Движения</th>-->
<!--    <th>День</th>-->
<!--    <th>Период</th>-->
<!--  </tr>-->
<!--  </thead>-->

<!--  <tbody>-->
<!--  <tr>-->
<!--    <td><a [routerLink]="['/movements','OUTCOME']">Расходы</a></td>-->
<!--    <td>{{outcomesByDay}}</td>-->
<!--    <td>{{outcomesByPeriod}}</td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td><a [routerLink]="['/movements','INCOME']">Доходы</a></td>-->
<!--    <td>{{incomesByDay}}</td>-->
<!--    <td>{{incomesByPeriod}}</td>-->
<!--  </tr>-->
<!--  </tbody>-->
<!--</table>-->


