<div>

  <div class="upload-images">

    <div *ngFor="let imgId of imageIds" class="editable-image">
      <img src="api/private/v1/files/{{imgId}}" width="100px" height="100px">
      <button type="button" class="btn btn-link btn-overlay btn-remove" (click)="deleteImage(imgId)">
        <i class="flaticon2-cross"></i>
      </button>
    </div>
  </div>

  <input type="file" id="file" class="form-control" accept="image/*"
         (change)="onFileSelected($event)">
</div>
