img {
  border: 1px solid black;
  margin: 3px;
}

.upload-images {
  display: flex;
}

.editable-image {
  position: relative;
}

.editable-image .btn-overlay {
  position: absolute;
  top: 0;
  left: 70px;
}

.btn-remove {
  color: red
}
