/* => Material*/
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/*regular style toast*/
@import '~ngx-toastr/toastr';

/*https://www.npmjs.com/package/@ng-select/ng-select*/
@import "~@ng-select/ng-select/themes/default.theme.css";

/*Global fonts*/
/*@import '~@fortawesome/fontawesome-free/css/all.min.css';*/
@import './assets/plugins/flaticon/flaticon.css';
@import './assets/plugins/flaticon2/flaticon.css';
@import './assets/plugins/keenthemes-icons/font/ki.css';

table{
  font-size: 12px;
}

table.vertical-middle td{
  vertical-align: middle;
}

table td.center-text, table th.center-text{
  text-align: center;
}

table td.end-text, table th.end-text{
  text-align: end;
}

a {
  margin: 12px;
}

.datepicker-only-month-select {
  width: 100%;
  /*border: 0 !important;*/
}

.datepicker-only-month-select .ngb-dp-months{
  display: none;
}

label{
  font-size: 0.7rem;
  color: #0c8ee7bd;
}

select.disabled{
  background-color: #33556d29;
}

/*Родительская категория в таблице*/
.parent-elem{
  background: #e9af6538;
}

.child-elem{
  background: aliceblue;
}

.transfer-elem{
  background-color: #313d114d;
}

/*Кнопки таблицы в thead*/
.actions {
  display: flex;
  align-items: center;
}

.actions button{
  padding: 0px 10px;
  line-height: 1;
}

/*Кнопка календаря*/
.btn-calendar{
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  color: #c7e1f9;
  border-color: #ced4d9;
}

/*Кнопки внутри legend-actions*/
.ki-1-5 {
  font-size: 1.5rem;
}

.hidden{
  display: none;
}
