<table class="table table table-bordered table-sm align-middle">

  <thead class="table-active">
  <tr>
    <th>Движения</th>
    <th>День</th>
    <th>Период</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td><a [routerLink]="['/movements','OUTCOME']">Расходы</a></td>
    <td class="center-text">{{outcomesByDay | formatNumber }}</td>
    <td class="center-text">{{outcomesByPeriod | formatNumber}}</td>
  </tr>
  <tr>
    <td><a [routerLink]="['/movements','INCOME']">Доходы</a></td>
    <td class="center-text">{{incomesByDay | formatNumber}}</td>
    <td class="center-text" >{{incomesByPeriod | formatNumber}}</td>
  </tr>
  </tbody>
</table>


