<div>
  <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Главная</a>
<!--  <a [routerLink]="['/movements','OUTCOME']" routerLinkActive="active-link">Расходы</a>-->
<!--  <a [routerLink]="['/movements','INCOME']" routerLinkActive="active-link">Доходы</a>-->
  <a [routerLink]="['/movements','OUTCOME']" routerLinkActive="active-link">Движения</a>

  <a routerLink="/budgets" routerLinkActive="active-link">Бюджет</a>
  <a routerLink="/transfers" routerLinkActive="active-link">Переводы</a>
  <a routerLink="/categories" routerLinkActive="active-link">Категории</a>
  <a routerLink="/accounts" routerLinkActive="active-link">Счета</a>
  <a routerLink="/balances" routerLinkActive="active-link">Остатки</a>
</div>

<!--<span>-->
<!--  <ul>-->
<!--    <li>      <a routerLink="/">Главная</a>    </li>-->
<!--    <li>      <a [routerLink]="['/movements','OUTCOME']" routerLinkActive="active-link">Расходы</a>    </li>-->
<!--    <li>      <a [routerLink]="['/movements','INCOME']" routerLinkActive="active-link">Доходы</a>    </li>-->
<!--    <li>      <a routerLink="/budgets">Бюджет</a>    </li>-->
<!--    <li>      <a routerLink="/transfers">Переводы</a>    </li>-->
<!--    <li>      <a routerLink="/categories">Категории</a>    </li>-->
<!--    <li>        <a routerLink="/accounts">Счета</a>    </li>-->
<!--    <li>       <a routerLink="/balances">Остатки</a>    </li>-->
<!--  </ul>-->
<!--</span>-->
<!---->

